*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #c9c5c5, #999999);
    padding: 0 !important;
}
.navbar-brand img{
    height: 85px;
    padding-left: 0;
}

.navbar li{
    padding: 0 10px;
}

.navbar li a{
    color: #000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*----------banner section----------*/

#banner{
    background-image: linear-gradient(to right, #c9c5c5, #999999);
    color: #000;
    /* padding-top: 5%; */
}

.system-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img{
    width: 100%;
}

/*----------services section----------*/

#services{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

#service-img-middle{
    width: 128px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.service-title::before{
    content: '';
    background: #999999;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.service-title::after{
    content: '';
    background: #999999;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #c9c5c5, #999999);
    color: #000;
}

/*----------footer section----------*/

#footer{
    background-image: linear-gradient(to right, #c9c5c5, #999999);
    color: #000;
}

.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}

#middle-box{
    /* color:  #999999; */
    opacity: 0.0;
    /* background-color: linear-gradient(to right, #c9c5c5, #999999); */
}

.footer-box img{
    width: 151px;
    margin-bottom: 20px;
    height: 74px;
}

/* .footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #c9c5c5, #999999);
} */

hr{
    background-color: #000;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

/*----------servers section----------*/

#servers{
    padding: 120px 0;
}

.table-servers{
    margin-top: 50px;
}

/* #servers-list{
    margin-left: -86px;
} */

#servers-list_length{
    margin-left: -615px;
}

#servers-list_filter{
    margin-left: 508px;
}

#servers-list_info{
    margin-left: -492px;
}

#servers-list_paginate{
    margin-right: -121px;
}

.buttonModal{
    background-color: .999;
    border-color: #999;
}

.buttonModal:focus{
    background-color:#999;
    border-color: #999;
}

.buttonModal:hover{
    background-color:#999;
    border-color: #999;
}

#modal-add-info{
    width: 1463px;
    margin-left: -180pxs
}

#form-infos{
    text-align: left;
    font-weight: bold;
}

.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}

.dataTables_length{
    display: flex;
}

.dataTables_info{
    display: flex;
}

.modal-body {
    overflow-x: auto;
  }


/* GOVBR CHANGES */

.logo-cjf{
    width: 145px !important;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }
  
  .fade.show {
    opacity: 1;
  }

  .modal-open {
    overflow: hidden;
  }
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  .modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
  }
  
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
  }
  
  .modal-footer > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .modal-footer > :not(:last-child) {
    margin-right: .25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-sm {
      max-width: 300px;
    }
  }
  
  @media (min-width: 992px) {
    .modal-lg {
      max-width: 800px;
    }
  }