<!doctype html>
<html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/font-awesome.min.css">
      <title>Inventário Único</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script> -->
  </head>
  <body>
  <section id="nav-bar">
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../static/images/logo-cjf.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">INÍCIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/servers">SERVIDORES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!----------banner section---------->
  <section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="system-title">Servidores</p>
        <p>Lista de servidores Linux com coleta diária de informações de recursos</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../static/images/home2.png" class="img-fluid">
      </div>
    </div>
  </div>
  <img src="../static/images/wave1.png" class="bottom-img">
  </section>
  <!----------servers section---------->
  <section id="servers">
    <div class="container text-center">
      <h1 class="service-title">Servidores Linux</h1>
      <div class="row" id="form-infos">
        {% for hostedit in edit %}
        <form action="/updateinventory" method="GET">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Hostname</label>
            <input class="form-control" type="text" id="hostname" name="hostname" value="{{ hostedit.hostname }}" placeholder="{{ hostedit.hostname }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">URL</label>
            <input class="form-control" type="text" id="url" name="url" value="{{ hostedit.url }}" placeholder="{{ hostedit.url }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ambiente</label>
            <input class="form-control" type="text" id="environnment" name="environnment" value="{{ hostedit.environnment }}" placeholder="{{ hostedit.environnment }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cluster</label>
            <input class="form-control" type="text" id="cluster" name="cluster" value="{{ hostedit.cluster }}" placeholder="{{ hostedit.cluster }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Publicação</label>
            <input class="form-control" type="text" id="publicacao" name="publicacao" value="{{ hostedit.publication }}" placeholder="{{ hostedit.publication }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Middleware</label>
            <input class="form-control" type="text" id="middleware" name="middleware" value="{{ hostedit.midleware }}" placeholder="{{ hostedit.midleware }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Framework</label>
            <input class="form-control" type="text" id="framework" name="framework" value="{{ hostedit.framework }}" placeholder="{{ hostedit.framework }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Linguagem</label>
            <input class="form-control" type="text" id="linguagem" name="linguagem" value="{{ hostedit.app_language }}" placeholder="{{ hostedit.app_language }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Prioridade</label>
            <input class="form-control" type="text" id="prioridade" name="prioridade" value="{{ hostedit.priority  }}" placeholder="{{ hostedit.priority  }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Risco</label>
            <input class="form-control" type="text" id="risco" name="risco" value="{{  hostedit.risk }}" placeholder="{{  hostedit.risk }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Sigla</label>
            <input class="form-control" type="text" id="sigla" name="sigla" value="{{ hostedit.acronym }}" placeholder="{{ hostedit.acronym }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Datacenter</label>
            <select class="form-select" id="datacenter" name="datacenter" aria-label="Selecione"> -->
              <option selected value="{{ hostedit.datacenter }}">{{ hostedit.datacenter }}</option>
              <option id="Blade" value="Blade">Blade</option>
              <option id="HCI" value="HCI">HCI</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Repositório</label>
            <input class="form-control" type="text" id="repositorio" name="repositorio" value="{{ hostedit.repository }}" placeholder="{{ hostedit.repository }}" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nacional/CJF</label>
            <select class="form-select" id="nacional-cjf" name="nacionalcjf" aria-label="Selecione">
              <option selected value="{{ hostedit.national_cjf }}">{{ hostedit.national_cjf }}</option>
              <option id="CJF" value="CJF">CJF</option>
              <option id="Nacional" value="Nacional">Nacional</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="goal" class="form-label">Objetivo</label>
            <textarea class="form-control" id="goal" name="objetivo" value="{{ hostedit.goal }}" placeholder="{{ hostedit.goal }}" rows="3">{{ hostedit.goal }}</textarea>
          </div>
          <button  onclick="window.location.href='/servers.html';" type="submit" id="submitFormUpdate" class="btn btn-primary">Atualizar</button>
          <button type="button" class="btn btn-secondary"><a href="/servers" id="bt-cancel-form">Cancelar</a></button>
        </form>
        {% endfor %}
      </div>
    </div>
  <!-- <div class="container text-center">
    <h1 class="service-title">LINKS</h1>
    <div class="row text-center">
      <div class="col-md-4 services">
        <img src="../static/images/inventory.png" class="service-img">
        <h4>Sobre o Inventário</h4>
        <p>O Inventário tem por objetivo centralizar a lista de servidores e seus objetivos</p>
      </div>
      <div class="col-md-4 services">
        <img src="../static/images/network.png" class="service-img" id="service-img-middle">
        <h4>Lista de Servidores</h4>
        <p>Lista de servidores Linux com coleta diária de informações de recursos</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Todos os servidores</button>
  </div> -->
  </section>
  <!----------social media section---------->
  <!-- <section id="social-media">
    <div class="container text-center">
      <p>Redes Sociais</p>
      <div class="social-icons">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
  </section> -->
  <!----------footer section---------->
  <section id="footer">
    <img src="../static/images/wave2.png" class="footer-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <p><b>Horário</b></p>
          <!-- <img src="../static/images/logo-cjf.png"> -->
          <p>O atendimento ao público no CJF é das 11 às 19 horas, de segunda a sexta-feira, exceto nos feriados.</p>
        </div>
        <div class="col-md-4 footer-box" id="middle-box">
          <p><b></b></p>s
          <p><!-- i class="fa fa-map-marker"></i --></p>
          <p></p>
        </div>
        <div class="col-md-4 footer-box">
          <p><b>Endereço</b></p>
          <p><!-- i class="fa fa-map-marker"></i -->SCES - Setor de Clubes Esportivos Sul - Trecho 3 - Polo 8 - Lote 9</p>
          <p>CEP: 70.200-003 — Brasília/DF</p>
        </div>
        <div>
          <hr>
          <p class="copyright">Desenvolvido pela CTC</p>
        </div>
      </div>
    </div>
  </section>

  <!-- TABLE -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- Call JavaScript Funcionts file-->
  <script type = "text/javascript" src="../static/js/functions-edit-page.js" class="init"></script>
  <!-- <script>
    var greetingValue = localStorage.getItem('hosttoedit');
    console.log("Edit page: " + greetingValue);  
  </script> -->
  
  <!-- <script>

    const elHostname = document.getElementById('in-hostname');
    const elUrl = document.getElementById('in-url');
    const elCluster = document.getElementById('in-cluster');
    const elPublicacao = document.getElementById('in-publicacao');
    const elMiddleware = document.getElementById('in-middleware');
    const elFramework = document.getElementById('in-framework');
    const elLinguagem = document.getElementById('in-linguagem');
    const elPrioridade = document.getElementById('in-prioridade');
    const elRisco = document.getElementById('in-risco');
    const elSigla = document.getElementById('in-sigla');
    const elRepositorio = document.getElementById('in-repositorio');

    const url = 'http://10.0.0.171:5000/hosts/vm-one';

    fetch(url)
    .then((response) => {
      return response.json();
    })
    .then((data) => {
      let hosts = data;

      hosts.map(function(host) {
        elHostname.setAttribute('placeholder', `${host.hostname}`);
        elUrl.setAttribute('placeholder', `${host.url}`);
        elCluster.setAttribute('placeholder', `${host.cluster}`);
        elPublicacao.setAttribute('placeholder', `${host.publication}`);
        elMiddleware.setAttribute('placeholder', `${host.midleware}`);
        elFramework.setAttribute('placeholder', `${host.framework}`);
        elLinguagem.setAttribute('placeholder', `${host.app_language}`);
        elPrioridade.setAttribute('placeholder', `${host.priority}`);
        elRisco.setAttribute('placeholder', `${host.risk}`);
        elSigla.setAttribute('placeholder', `${host.acronym}`);
        elRepositorio.setAttribute('placeholder', `${host.repository}`);
      });
    })
    .catch(function(error) {
      console.log(error);
    });
  </script> -->
  </body>
</html>