<!doctype html>
<html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/font-awesome.min.css">
      <title>Inventário Único</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table-locale-all.min.js"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script> -->
  </head>
  <body>
  <section id="nav-bar">
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../static/images/logo-cjf.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">INÍCIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="servers.html">SERVIDORES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!----------banner section---------->
  <section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="system-title">Servidores</p>
        <p>Lista de servidores Linux com coleta diária de informações de recursos</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../static/images/home2.png" class="img-fluid">
      </div>
    </div>
  </div>
  <img src="../static/images/wave1.png" class="bottom-img">
  </section>
  <!----------servers section---------->
  <section id="servers">
    <div class="container text-center">
      <div class="subtopo">
        <!-- <h1 id="titleMin" >Atualização de dados cadastrais</h1>
        <div class="clear"></div> -->
        <!-- {% for host in hosts %} -->
        <!-- <h1 id="welcome" >Bem Vindo, {{ host.hostname }} !</h1> -->
        </br>        
        <!-- {% endfor %} -->
     </div>
      <h1 class="service-title">Servidores</h1>
      <!-- <div class="row text-center"> -->

      <!--TABLE HERE-->
      <div class="select">
        <select class="form-control" id="locale">
          <option value="af-ZA">af-ZA</option>
          <option value="ar-SA">ar-SA</option>
          <option value="ca-ES">ca-ES</option>
          <option value="cs-CZ">cs-CZ</option>
          <option value="da-DK">da-DK</option>
          <option value="de-DE">de-DE</option>
          <option value="el-GR">el-GR</option>
          <option value="en-US" selected>en-US</option>
          <option value="es-AR">es-AR</option>
          <option value="es-CL">es-CL</option>
          <option value="es-CR">es-CR</option>
          <option value="es-ES">es-ES</option>
          <option value="es-MX">es-MX</option>
          <option value="es-NI">es-NI</option>
          <option value="es-SP">es-SP</option>
          <option value="et-EE">et-EE</option>
          <option value="eu-EU">eu-EU</option>
          <option value="fa-IR">fa-IR</option>
          <option value="fi-FI">fi-FI</option>
          <option value="fr-BE">fr-BE</option>
          <option value="fr-FR">fr-FR</option>
          <option value="he-IL">he-IL</option>
          <option value="hr-HR">hr-HR</option>
          <option value="hu-HU">hu-HU</option>
          <option value="id-ID">id-ID</option>
          <option value="it-IT">it-IT</option>
          <option value="ja-JP">ja-JP</option>
          <option value="ka-GE">ka-GE</option>
          <option value="ko-KR">ko-KR</option>
          <option value="ms-MY">ms-MY</option>
          <option value="nb-NO">nb-NO</option>
          <option value="nl-NL">nl-NL</option>
          <option value="pl-PL">pl-PL</option>
          <option value="pt-BR">pt-BR</option>
          <option value="pt-PT">pt-PT</option>
          <option value="ro-RO">ro-RO</option>
          <option value="ru-RU">ru-RU</option>
          <option value="sk-SK">sk-SK</option>
          <option value="sv-SE">sv-SE</option>
          <option value="th-TH">th-TH</option>
          <option value="tr-TR">tr-TR</option>
          <option value="uk-UA">uk-UA</option>
          <option value="ur-PK">ur-PK</option>
          <option value="uz-Latn-UZ">uz-Latn-UZ</option>
          <option value="vi-VN">vi-VN</option>
          <option value="zh-CN">zh-CN</option>
          <option value="zh-TW">zh-TW</option>
        </select>
      </div>
      
      <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
      <table
        id="table"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-detail-view="true"
        data-show-export="true"
        data-click-to-select="true"
        data-detail-formatter="detailFormatter"
        data-minimum-count-columns="2"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-id-field="id"
        data-page-list="[10, 25, 50, 100, all]"
        data-show-footer="true"
        data-side-pagination="server"
        data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
        data-response-handler="responseHandler">
      </table>
      <!--TABLE HERE-->
      <div class="modal fade" id="moreInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" id="modal-add-info">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Informações Complementares</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table table-servers" id="additionalInformation">
                <thead>
                  <tr>
                    <th scope="col">Url</th>
                    <th scope="col">Cluster</th>
                    <th scope="col">Publicação</th>
                    <th scope="col">Middleware</th>
                    <th scope="col">Framework</th>
                    <th scope="col">Linguagem</th>
                    <th scope="col">Prioridade</th>
                    <th scope="col">Risco</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Objetivo</th>
                    <th scope="col">Datacenter</th>
                    <th scope="col">Reposirório</th>
                    <th scope="col">Nacional/CJF</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary buttonModal" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="container text-center">
    <h1 class="service-title">LINKS</h1>
    <div class="row text-center">
      <div class="col-md-4 services">
        <img src="../static/images/inventory.png" class="service-img">
        <h4>Sobre o Inventário</h4>
        <p>O Inventário tem por objetivo centralizar a lista de servidores e seus objetivos</p>
      </div>
      <div class="col-md-4 services">
        <img src="../static/images/network.png" class="service-img" id="service-img-middle">
        <h4>Lista de Servidores</h4>
        <p>Lista de servidores Linux com coleta diária de informações de recursos</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Todos os servidores</button>
  </div> -->
  </section>
  <!----------social media section---------->
  <!-- <section id="social-media">
    <div class="container text-center">
      <p>Redes Sociais</p>
      <div class="social-icons">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
  </section> -->
  <!----------footer section---------->
  <section id="footer">
    <img src="../static/images/wave2.png" class="footer-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <p><b>Horário</b></p>
          <!-- <img src="../static/images/logo-cjf.png"> -->
          <p>O atendimento ao público no CJF é das 11 às 19 horas, de segunda a sexta-feira, exceto nos feriados.</p>
        </div>
        <div class="col-md-4 footer-box" id="middle-box">
          <p><b></b></p>s
          <p><!-- i class="fa fa-map-marker"></i --></p>
          <p></p>
        </div>
        <div class="col-md-4 footer-box">
          <p><b>Endereço</b></p>
          <p><!-- i class="fa fa-map-marker"></i -->SCES - Setor de Clubes Esportivos Sul - Trecho 3 - Polo 8 - Lote 9</p>
          <p>CEP: 70.200-003 — Brasília/DF</p>
        </div>
        <div>
          <hr>
          <p class="copyright">Desenvolvido pela CTC</p>
        </div>
      </div>
    </div>
  </section>

  <!-- TABLE -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []
  
    function getIdSelections() {
      return $.map($table.bootstrapTable('getSelections'), function (row) {
        return row.id
      })
    }
  
    function responseHandler(res) {
      $.each(res.rows, function (i, row) {
        row.state = $.inArray(row.id, selections) !== -1
      })
      return res
    }
  
    function detailFormatter(index, row) {
      var html = []
      $.each(row, function (key, value) {
        html.push('<p><b>' + key + ':</b> ' + value + '</p>')
      })
      return html.join('')
    }
  
    function operateFormatter(value, row, index) {
      return [
        '<a class="like" href="javascript:void(0)" title="Like">',
        '<i class="fa fa-heart"></i>',
        '</a>  ',
        '<a class="remove" href="javascript:void(0)" title="Remove">',
        '<i class="fa fa-trash"></i>',
        '</a>'
      ].join('')
    }
  
    window.operateEvents = {
      'click .like': function (e, value, row, index) {
        alert('You click like action, row: ' + JSON.stringify(row))
      },
      'click .remove': function (e, value, row, index) {
        $table.bootstrapTable('remove', {
          field: 'id',
          values: [row.id]
        })
      }
    }
  
    function totalTextFormatter(data) {
      return 'Total'
    }
  
    function totalNameFormatter(data) {
      return data.length
    }
  
    function totalPriceFormatter(data) {
      var field = this.field
      return '$' + data.map(function (row) {
        return +row[field].substring(1)
      }).reduce(function (sum, i) {
        return sum + i
      }, 0)
    }
  
    function initTable() {
      $table.bootstrapTable('destroy').bootstrapTable({
        height: 550,
        locale: $('#locale').val(),
        columns: [
          [
            {
              field: 'state',
              checkbox: true,
              rowspan: 2,
              align: 'center',
              valign: 'middle'
            },
            {
              title: 'Item ID',
              field: 'id',
              rowspan: 2,
              align: 'center',
              valign: 'middle',
              sortable: true,
              footerFormatter: totalTextFormatter
            },
            {
              title: 'Item Detail',
              colspan: 3,
              align: 'center'
            }
          ],
          [
            {
              field: 'name',
              title: 'Item Name',
              sortable: true,
              footerFormatter: totalNameFormatter,
              align: 'center'
            },
            {
              field: 'price',
              title: 'Item Price',
              sortable: true,
              align: 'center',
              footerFormatter: totalPriceFormatter
            },
            {
              field: 'operate',
              title: 'Item Operate',
              align: 'center',
              clickToSelect: false,
              events: window.operateEvents,
              formatter: operateFormatter
            }
          ]
        ]
      })
      $table.on('check.bs.table uncheck.bs.table ' +
        'check-all.bs.table uncheck-all.bs.table',
      function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
  
        // save your data, here just save the current page
        selections = getIdSelections()
        // push or splice the selections if you want to save all data selections
      })
      $table.on('all.bs.table', function (e, name, args) {
        console.log(name, args)
      })
      $remove.click(function () {
        var ids = getIdSelections()
        $table.bootstrapTable('remove', {
          field: 'id',
          values: ids
        })
        $remove.prop('disabled', true)
      })
    }
  
    $(function() {
      initTable()
  
      $('#locale').change(initTable)
    })
  </script>
  <!-- Call JavaScript Funcionts file-->
  <!-- <script type = "text/javascript" src="../static/js/functions.js" class="init"></script> -->
  <!-- <script>
    // const host = document.getElementById("hostName").value;
    var host = document.querySelector("#hostName").value;
    localStorage.setItem('greeting', host);
  </script> -->
  </body>
</html>